
body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 20px; 
    background-color: #081667;
    color: #ffffff; 
}

h1 {
    color: #ffffff;
}


button {
    background-color: #1f8500; /* Устанавливает цвет фона для кнопок */
    color: #fff; /* Устанавливает цвет текста для кнопок */
    border: none; /* Убирает границу у кнопок */
    padding: 10px 20px; /* Добавляет внутренние отступы для кнопок */
    border-radius: 5px; /* Закругляет углы кнопок */
    cursor: pointer; /* Изменяет курсор при наведении на кнопку */
    margin-right: 10px; /* Добавляет отступ справа от кнопок */
    font-size: 16px; /* Устанавливает размер шрифта для кнопок */
}

button:hover {
    background-color: #0056b3; /* Изменяет цвет фона кнопки при наведении */
}

button:active {
    background-color: #004080; /* Изменяет цвет фона кнопки при активации */
}

/* Форма */
form {
    margin-top: 20px;
}

label {
    display: block; /* Делает метки блочными элементами */
    margin: 10px 0 5px; /* Добавляет отступы для меток */
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%; /* Устанавливает ширину полей ввода на 100% */
    padding: 10px; /* Добавляет внутренние отступы для полей ввода */
    margin-bottom: 15px; /* Добавляет отступ снизу для полей ввода */
    border: 1px solid #ccc; /* Устанавливает границу для полей ввода */
    border-radius: 5px; /* Закругляет углы полей ввода */
}

input:required {
    border-color: #ffffff; /* Изменяет цвет границы обязательных полей ввода */
}

input[type="radio"] {
    margin-right: 10px; /* Добавляет отступ справа от радиокнопок */
}

input[type="radio"]:checked + label {
    color: #ffffff; /* Изменяет цвет текста метки выбранной радиокнопки */
}

ul {
    padding: 0; /* Убирает внутренние отступы у списка */
    margin-top: 20px; /* Добавляет отступ сверху для списка */
}

ul li {
    padding: 10px; /* Добавляет внутренние отступы для элементов списка */
    margin-bottom: 5px; /* Добавляет отступ снизу для элементов списка */
    border-radius: 5px; /* Закругляет углы элементов списка */
}

::selection {
    background-color: #ffcc00; /* Устанавливает цвет фона для выделенного текста */
    color: #000; /* Устанавливает цвет текста при выделении */
}

::placeholder {
    color: #999; /* Устанавливает цвет текста плейсхолдера */
    font-style: italic; /* Делает текст плейсхолдера курсивным */
}